.gallery__item{
  width: 284px;
}

@media screen and (max-width: 1220px) {
  .gallery__item{
    width: 300px;
  }
}

@media screen and (max-width: 960px) {
  .gallery__item{
    width: 352px;
  }
}

@media screen and (max-width: 756px) {
  .gallery__item{
    width: 288px;
  }
}
